body {
  background-color: #FAFAFA;
}

.header {
  height: 100vh;
  background-color:#212121;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  color: rgba(255, 255, 255, 0.7);
  padding: 20px 0 40px;
}

.location-input input {
  width: 100%;
  font-size: 1.3em;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border: none;
  margin: 20px 0 40px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

/* Unit Toggle */
label {
  color: rgba(255, 255, 255, 0.4);
  font-weight: lighter;
  vertical-align: top;
  margin-left: 4px;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
}

.switch {
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 0;
  transition: all 0.3s ease;
}

.toggle.active .switch{
  background-color: #80CBC4;
  transform: translateX(100%);
}

@media screen and (max-width: 767px) {

  .header {
    height: auto;
    background-color:#212121;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    padding: 0 0 10px;
  }

}