p {
    font-size: 1.2em;
    margin: 0;
}

.forecast-day {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

    .forecast-day:after {
        content: "";
        display: table;
        clear: both;
    }

    .forecast-day:last-child {
        border-bottom: none;
    }

.day,
.description,
.temp {
    width: 33.332%;
    text-transform: capitalize;
    float: left;
}

.description-icon {
    width: 26px;
    float: left;
    margin: 2px 20px 0 0;
}

.temp {
    text-align: right;
}

    .temp-max,
    .temp-min {
        padding-left: 20px;
    }

        .temp-max .fa,
        .temp-min .fa {
            font-size: 0.6em;
            vertical-align: top;
            margin: 9px 5px 0 0;
        }

        .temp-min {
            color: #80CBC4;
            opacity: 0.8;
        }

@media screen and (max-width: 600px) {

    p {
        font-size: 1em;
    }

    .day {
        width: 75px;
    }

    .description {
        width: calc(100% - 33.332% - 75px);
    }

    .temp {
        float: right;
    }

    .description-icon {
        width: 20px;
    }

}

@media screen and (max-width: 400px) {

    .description p {
        display: none;
    }

    .temp-max .fa,
    .temp-min .fa {
        font-size: 0.8em;
        vertical-align: top;
        margin: 6px 5px 0 0;
    }

}